@model NewDrive.DTO.FolderFilesModel
@{
    ViewData["Title"] = "Subfolder";
}
@if (User.Identity.IsAuthenticated && Model != null)
{




    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createFile">
        Create File
    </button>


    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createFolder">
        Create Folder
    </button>


    <div class="modal fade" id="createFile" tabindex="-1" role="dialog" aria-labelledby="createFileLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createFileLabel">Create File</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="uploadFileForm" class="mb-3" method="post" asp-controller="File" asp-action="UploadFile" enctype="multipart/form-data"
                          asp-route-currentFolderId="@Model.CurrentFolderId">

                        <div class="mb-3">
                            <label for="uploadFile">Upload File</label>
                            <input type="file" class="form-control" name="file" id="uploadFile" />
                        </div>

                    </form>


                    <div class="row">
                        <div class="col-md-9">
                            <div id="dropzone">
                                <form asp-controller="File" asp-action="UploadFile" enctype="multipart/form-data"
                                      asp-route-currentFolderId="@Model.CurrentFolderId" class="dropzone needsclick dz-clickable" id="uploader">
                                    <div class="dz-message needsclick">
                                        Drop file.<br>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="createFolder" tabindex="-1" role="dialog" aria-labelledby="createFolderLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createFolderLabel">Create Folder</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label for="folderName">Folder Name</label>
                    <input class="form-control" name="folderName" id="folderName" aria-describedby="emailHelp" placeholder="Enter name">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" onclick="createFolder()" class="btn btn-primary">Create</button>
                </div>
            </div>
        </div>
    </div>
}


<div class="container">

    <div id="products" class="row view-group">

        @if (Model.FoldersInFolder != null)
        {
            @foreach (var folder in Model.FoldersInFolder)
            {
                <div class="item col-xs-4 col-lg-4">
                    <div class="thumbnail card">
                        <div class="caption card-body">
                            <h4 class="group card-title inner list-group-item-heading">
                                @folder.Name
                            </h4>
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
                                <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z" />
                            </svg>
                            <br />
                            <a asp-controller="SubFolder" asp-action="Index" asp-route-id="@folder.Id" class="link-info">Open</a>
                            <br />
                            <a asp-controller="Folder" asp-action="DeleteFolder" asp-route-id="@folder.Id" class="link-info">Delete</a>

                        </div>
                    </div>
                </div>
            }

        }

        @if (Model.FilesInFolder != null)
        {
            @foreach (var file in Model.FilesInFolder)
            {
                <div class="item col-xs-4 col-lg-4">
                    <div class="thumbnail card">
                        <div class="caption card-body">
                            <h4 class="group card-title inner list-group-item-heading">
                                @file.Name
                            </h4>
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-file-text" viewBox="0 0 16 16">
                                <path d="M5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1H5z" />
                                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z" />
                            </svg>
                            <br />
                            <a asp-controller="File" asp-action="DownloadFile" asp-route-path="@file.Path" class="link-primary">Download</a>
                            <br />
                            <br />
                            <a asp-controller="File" asp-action="DeleteFile" asp-route-id="@file.Id" class="link-danger">Delete</a>
                        </div>
                    </div>
                </div>
            }

        }

    </div>
</div>

<script>
    document.getElementById("uploadFile").onchange = function () {
        document.getElementById("uploadFileForm").submit();
        alert("File Uploaded")
    }
</script>

<script>

    function createFolder() {
        var name = document.getElementById('folderName');
         $.post("@Url.Action("CreateFolder","Folder")", { folderName: name.value, currentFolderId: @Model.CurrentFolderId});
    }



</script>

<style>


    label {
        cursor: pointer;
    }

    #uploadFile {
        opacity: 0;
        position: absolute;
        z-index: -1;
    }

    .view-group {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        padding-left: 0;
        margin-bottom: 0;
    }

    .thumbnail {
        margin-bottom: 30px;
        padding: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }

    .item.list-group-item {
        float: none;
        width: 100%;
        background-color: #fff;
        margin-bottom: 30px;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 1rem;
        border: 0;
    }

        .item.list-group-item .img-event {
            float: left;
            width: 30%;
        }

        .item.list-group-item .list-group-image {
            margin-right: 10px;
        }

        .item.list-group-item .thumbnail {
            margin-bottom: 0px;
            display: inline-block;
        }

        .item.list-group-item .caption {
            float: left;
            width: 70%;
            margin: 0;
        }

        .item.list-group-item:before, .item.list-group-item:after {
            display: table;
            content: " ";
        }

        .item.list-group-item:after {
            clear: both;
        }
</style>